bokeh==2.1.0
contextily==1.0.0
descartes==1.1.0
Django==3.0.8
django-extensions==3.0.2
GDAL==3.0.4
geopandas==0.7.0
geopy==1.22.0
jupyter==1.0.0
matplotlib==3.2.2
netCDF4==1.5.3
numpy==1.18.5
pandas==1.1.5
Pillow==8.3.2
plotly==4.14.1
psycopg2==2.8.5
pyproj==2.6.1.post1
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2020.1
QtPy==1.9.0
rasterio==1.1.5
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.1
Shapely==1.7.0
sklearn==0.0
tqdm==4.46.1
